body {
  margin: 0;
  padding: 0;
}

h2, p {
  margin: 10px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
 
/* Make list items horizontal */
li {
  float: left;
}
 
/* Style the links */
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
 
/* Hover effect */
li a:hover {
  background-color: #1111117b;
}

.p1 {
  font-size: 40px;
}
.h1 {
    font-size: 60px;
}

/* Image row (horizontal layout) */
.image-row {
    display: flex;
    justify-content: space-around;
    gap: 0px;
    margin-top: 0px;
    border-radius: 5px;;
}
 
.photo-grid {
  display: flex;
  flex-wrap: wrap;
}
 
.photo-grid img {
  width: 33.33%;
  box-sizing: border-box;
  padding: 5px;
}
